body {
    padding-top: 4.5rem; /* Adjust according to your navbar height */
  }
  
  .navbar.sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar stays on top of other elements */
  }
  