<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form (ngSubmit)="registerForm()" style="overflow-y: auto;">
                <h2 class="text-center mb-4">Student Registration Form</h2>
                <p class="text-center">Fill in this form to register</p>
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name" placeholder="Enter your first name"
                        name="first_name" required [(ngModel)]="employerObj.firstName">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" placeholder="Enter your last name"
                        name="last_name" required [(ngModel)]="employerObj.lastName">
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your e-mail" name="email"
                        required [(ngModel)]="employerObj.email">
                </div>
                <div class="form-group">
                    <label for="MobileNo">Mobile Number</label>
                    <input type="MobileNo" class="form-control" id="MobileNo" placeholder="Enter your Mobile Number"
                        name="MobileNo" required [(ngModel)]="employerObj.MobileNo">
                </div>
                <div class="form-group">
                    <label for="GstNo">GST Number</label>
                    <input type="GstNo" class="form-control" id="GstNo" placeholder="Enter your GST Number" name="GstNo"
                        required [(ngModel)]="employerObj.GstNo">
                </div>
                <div class="form-group">
                    <label for="City">City</label>
                    <input type="City" class="form-control" id="City" placeholder="Enter your City" name="City" required
                        [(ngModel)]="employerObj.City">
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input type="date" class="form-control" id="dob" name="dob" required
                        [(ngModel)]="employerObj.dateOfBirth">
                </div>
                <div class="form-group">
                    <label for="username">Set Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Set Username" name="username"
                        required [(ngModel)]="employerObj.username">
                </div>
                <div class="form-group">
                    <label for="password">Set Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Set password" name="password"
                        required [(ngModel)]="employerObj.password">
                </div>
                <div class="form-group">
                    <label for="course">Course</label>
                    <select class="form-control" id="course" name="course" [(ngModel)]="employerObj.course">
                        <option value="Course">Select Course</option>
                        <option value="CS">Computer Fundamentals</option>
                        <option value="AI">Artificial Intelligence</option>
                        <option value="ML">Machine Learning</option>
                        <option value="OOPS">Object Oriented Programming</option>
                        <option value="DBMS">Database Management System</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block ">Register</button>
            </form>
        </div>
    </div>
</div>